:root {
  font-family: 'Montserrat', sans-serif;
  --main-txt-color: black;
}

body {
  background-color: #f5f6fa;
}

/* Text Sizes */
h1 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  /* padding-bottom: 1rem; */
}

h2 {
  font-size: 2em;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

h4 {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-position: inside;
}

ul li {
  padding-bottom: .1rem;
}

hr {
  width: 100%;
  margin-bottom: 2.5em;
  border: 0 none;
  height: .2em;
  background-color: var(--main-txt-color);
}

code {
  color: crimson;
  padding: 2px;
}

.item {
  margin-top: .5rem;
  margin-bottom: 1rem;
  width: 65vw;
  max-width: 60rem
}

.item img {
  max-height: 50vh;
  max-width: 70%;
  width: auto;
}

.item .imageCap img{
  padding-top: .5rem;
}

.item .large img{
  max-width: 100%;
  max-height: 70vh;
}

/* Navbar */
#home {
  margin-left: 8px;
}

.navbar ul {
  overflow: hidden;
  display: table;
}

.navbar li {
  /* border: 2px solid black; */
  font-weight: 600;
  color: var(--main-txt-color);  margin-top: 15px;
  display: inline-block;
  padding-right: 4rem;
}

.navbar li a {
  margin-top: 0px;
  margin-bottom: -30px;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  font-weight:300;
  color: var(--main-txt-color);
}

.navbar li a:hover:not(.active) {
  font-weight: 500;
}

.navbar li a.active {
  font-weight: 500;
}

/* Social Links */

#socialLinkSection {
  margin-top: 3px;
  margin-bottom: 8px;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
}

#socialLinkContent {
  padding-top: 10px;
  text-align: center;
}

.links { /* Social media links */
  margin: 0 20px 0 20px;
  display: inline-block;
  font-size: 16px;
  color: #212121;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
}

.links a {
  text-decoration: none;
}


.links:hover {
  background-color: lightgrey;
}


/* Profile Image */

#profileImage {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: calc(25%);
}

/* The various Texts */

#heroName {
  font-size: 2.5rem;
}

#description {
  font-size: 1.3rem;
}

#pageColumn {
  padding: 24px;
}

/* Cards */
.card-main-image, .card-image {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

.card {
  border-radius: 2px;
}

.card-content {
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

#contactButton {
  border: 2px solid var(--main-txt-color);
  font-weight: 600;
  color: var(--main-txt-color);  margin-top: 15px;
}

#contactButton p {
  margin: 0px;
  margin-top: -1px;
}

#contactButton:hover {
  color: white;
  background-color: var(--main-txt-color);
}

/* Breakpoint resizing */
@media only screen and (max-width: 1260px) {
  #pageText {
    font-size: 2rem;
    margin-bottom: -20px;
  }
  #categoryText {
    font-size: 1.2rem;
  }
  #heroName {
    font-size: 2.0rem;
  }
  #description {
    font-size: 1.1rem;
  }
  #profileImage {
    height: 125px;
    width: 125px;
    margin-top: calc(30%);
  }
}

@media only screen and (max-width: 992px) {
  #profileImage {
    margin-top: calc(10%);
  }
  #pageTitle {
    text-align: center;
  }
  #pageColumn {
    padding-left: 8px;
    padding-right: 8px;
  }
  .navbar {
    padding-bottom: 2rem;
  }
  /* Center Items */
  .navbar ul {
    margin: auto;
  }
  .navbar li {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  h1 {
    text-align: center;
  }
  .item {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .item .imageCap p{
    text-align: center;
  }
}

/* Mobile */
@media (hover:none), (hover:on-demand) {
  .item {
    width: 85%;
  }
  .item img {
    max-width: 100%;
  }
  .item .large img {
    max-width: 100%;
  }
  .navbar li a {
    font-size: 1.5rem;
  }
  #contactButton {
    border: 2px solid var(--main-txt-color);
    font-weight: 600;
    color: var(--main-txt-color);  margin-top: 15px;
    font-size: .8rem;
  }
  #contactButton p {
    margin: 0px;
    margin-top: -1px;
  }
}
